

@media screen and (min-width: 400px) and (max-width: 800px) { 

	.container {

		width: 400px
		width: auto;
		margin: auto;
		text-align: left;
	}

 img {

	float: left;
 	}

 

 	h1 {
 	font-size: 140%;
 	}
 }